*{ 
	padding:0;
	margin:0;
	outline:0;
}
body {
/* 	background: #F2F2F2; */
	background: -webkit-linear-gradient(#F2F2F2, #D8D8D8, #F2F2F2); /* For Safari */
	background: -o-linear-gradient(#F2F2F2, #D8D8D8, #F2F2F2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#F2F2F2, #D8D8D8, #F2F2F2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#F2F2F2, #D8D8D8, #F2F2F2); /* Standard syntax (must be last) */
	font-family: 'Trebuchet MS', Lucida Grande, Verdana, sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #000;
}
#header {
	width: 100%;
	height: 128px;
	background: #FFA500;
}
#header_content {
	width: 998px;
	height: 100%;
	margin: 0 auto;
	position: relative;
/*  	border-left: 1px dotted #f9ebae;
	border-right: 1px dotted #f9ebae; */
	z-index: 1;
}
#header_top {
	height: 70%;
	font-size: 18px;
}
#header_top .logo {
	width: 20%;
	height: 100%;
	float: left;
	text-align: right;
/* 	padding: 1px;
	margin: 5px; */
}
#header_top .title {
	width: 70%;
	height: 100%;
	float: left;
	text-align: center;
/* 	padding: 1px;
	margin: 5px; */
}
#header_bottom {
	height: 30%;
	position: relative;
}
/* -----------------------------------------------------------------------MENU BAR START-------------------------------------------------------------------------- */
ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin:0;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: orange;
	font-weight: bold;
    background: #FFF;
    padding: 5px;
    display:inline-block;
    border-radius:5px;
    padding:10px;
    width:120px;
    text-align:center;
}
/*Make the parent of sub-menu relative*/
ul#menu li a:hover, ul#menu li ul.sub-menu li a:hover {
    text-decoration: none;
    color: #fff;
    background: #FFC272;
    padding: 5px;
    display:inline-block;
    border-radius:5px;
    padding:10px;
    width:120px;
    text-align:center;
	transition: 1s;
}
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0;
    width:100px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
	z-index: 1;
}
/* -----------------------------------------------------------------------MENU BAR END-------------------------------------------------------------------------- */
#upper-container {
	margin : auto;
	padding: 3px 0px 10px 0px;
	margin-top: 2px;
	margin-bottom: 5px;
	position : relative;
	width : 998px;
	height: auto;
	background-color: #FFF;
	border-radius:5px;
}
#container {
	margin : auto;
	padding: 3px 0 0 0;
	margin-top: 0px;
	position : relative;
	width : 998px;
	height: 998px;
	background-color: #FFF;
}
/* -----------------------------------------------------------------------FORM START-------------------------------------------------------------------------- */
.form_title{
	margin: 20px 20px 0;
	padding: 0 0 20px;
}
#add_member_form, #member_fee_form {
	margin:0 auto;
	text-align:left;
	margin: 10px 20px 0;
	padding: 0 0 20px;
	font-weight: bold;
}
#entry_member_form, #lock_member_form {
	margin:0 auto;
	margin: 10px 20px 0;
	padding: 0 0 20px;
	font-weight: bold;
}
#add_member_form input[type=submit], input[type=reset] {
	width: 80px;
	height: 30px;
	margin: 2px;
	padding: 0 5px;
	font-weight: bold;
	background-color: #BDBDBD;
	border-radius: 8px;
}
#member_fee_form input[type=submit], input[type=reset] {
	width: 80px;
	height: 30px;
	margin: 2px;
	padding: 0 5px;
	font-weight: bold;
	background-color: #BDBDBD;
	border-radius: 8px;
}
input[type=text] {
	width: 200px;
	height: 24px;
	margin: 2px;
	padding: 0 5px;
	border-radius: 2px;
	border: 1px solid grey;
}
select {
    display: inline-block;
    width: 150px;
    padding: 3px 6px;
    font-size: 16px;
    height: 30px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
input[type=submit] {
	height: 30px;
	font-weight: bold;
	background-color: #BDBDBD;
	border-radius: 2px;
}
td {
	height:22px;
	margin: 2px;
	padding: 0 5px;
}
th label{
	color:#FFF;
	background-color: #BDBDBD;
	display:block;
	font-size: 20px;
	line-height: 24px;
	margin:0;
	text-align:center;
	padding-top:2px;
}
/* ------------------------------------------------------------------------FORM END--------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------NEW LOGIN START-------------------------------------------------------------------------- */
.login {
	position: relative;
	margin: 0 auto;
	padding: 20px 20px 20px;
	width: 310px;
	background: white;
	border-radius: 8px;
	/*-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 255);
	box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);*/
}
.login:before {
	content: '';
	position: absolute;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	z-index: -1;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.login h1 {
	margin: -20px -20px 21px;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
	color: #555;
	text-align: center;
	text-shadow: 0 1px white;
	background: #E6E6E6;
	border-bottom: 1px solid #cfcfcf;
	border-radius: 8px 8px 0 0;
	background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
	background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
	background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
	background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
	-webkit-box-shadow: 0 1px whitesmoke;
	box-shadow: 0 1px whitesmoke;
}
.login p {
	margin: 20px 0 0;
}
.login p:first-child {
	margin-top: 0;
}
.login input[type=text], .login input[type=password] {
	width: 278px;
}
/* .login p.remember_me {
  float: left;
  line-height: 31px;
}
.login p.remember_me label {
  font-size: 16px;
  color: #777;
  cursor: pointer;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
} */

.login p.submit {
	text-align: center;
}

/* .login-help {
  margin: 20px 0;
  font-size: 16px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}
.login-help a {
  color: #cce7fa;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
} */

:-moz-placeholder {
	color: #c9c9c9 !important;
	font-size: 14px;
}

::-webkit-input-placeholder {
	color: #ccc;
	font-size: 14px;
}

/* -----------------------------------------------------------------------NEW LOGIN END-------------------------------------------------------------------------- */

#footer {
	/* margin : auto; */
	position : relative;
	height: 50px;
	margin-bottom: 0px;
	background: #FF9914;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#footer_content {
	width:988px;
	height: 40px;
	margin:0 auto;
}